<p>{{otp}}</p>
<p class="a-o-i">Enter OTP code sent to your mobile number</p><br>
<ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config">Enter verification code</ng-otp-input>
<span *ngIf="otp" class="o-t-p">OTP {{otp}}</span>
<p *ngIf="show">time left {{count}} seconds</p>

<div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Resend OTP</button>
    <button mat-raised-button *ngIf="showProceedBut" [mat-dialog-close]="otp" cdkFocusInitial>Proceed</button>
</div>

<!-- [disabled]="count !== 0" -->