@import url('https://fonts.googleapis.com/css?family=Courgette|Lobster|Special+Elite&display=swap');

a {
    text-decoration: none;
    color:  #b40303;;
}

span {
    font-size: 15px;
    font-family: 'Special Elite', cursive;
}

button {
    background-color: black;
    color: white;
}