<mat-toolbar class="header-topbar">
    <mat-toolbar-row class="header-container">
        <span>FREE SHIPPING ON ORDERS OVER ₹100</span>
         <p>
            <mat-icon matTooltip="singin" [routerLink]="'/login'">person_pin</mat-icon>
            <mat-icon matTooltip="signup" [routerLink]="'/register'">person_add</mat-icon>
         </p> 
    </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="3" rowHeight="4:1" class="menu-holder">
    <mat-grid-tile class="logo" [routerLink]="'/'">AFkart</mat-grid-tile>
    <mat-grid-tile class="menu">
        <div class="list">
            <span [routerLink]="'/'">HOME</span>
            <span [matMenuTriggerFor]="shop">SHOP</span>
            <span [routerLink]="'/product'">PRODUCTS</span>
            <span [matMenuTriggerFor]="page">PAGE</span>
            <span [matMenuTriggerFor]="blog">BLOG</span>
            <span [matMenuTriggerFor]="buy">BUY</span>
        </div>
        <mat-menu #shop="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
        <mat-menu #page="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
        <mat-menu #blog="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
        <mat-menu #buy="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
    </mat-grid-tile>
    <mat-grid-tile class="icon">
        <mat-icon matTooltip="search">search</mat-icon>
        <mat-icon matTooltip="compare">compare_arrows</mat-icon>
        <mat-icon matTooltip="cart">card_travel</mat-icon>
    </mat-grid-tile>
</mat-grid-list>


<div class="container">
    <router-outlet></router-outlet>
</div>

<br>
<mat-toolbar class="footer">
    <mat-toolbar-row>
        <span>Copyright &copy; 2020</span>
      </mat-toolbar-row>
</mat-toolbar>
